<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770750667516-kk34f1aho233qm0517dmrskggg4vvskp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770750667516-kk34f1aho233qm0517dmrskggg4vvskp</string>
	<key>API_KEY</key>
	<string>AIzaSyAsS0voO-Y_wZi_Lfkr9IuoA5Q6-A9Hv88</string>
	<key>GCM_SENDER_ID</key>
	<string>770750667516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApplication</string>
	<key>PROJECT_ID</key>
	<string>newfirebase-c5b31</string>
	<key>STORAGE_BUCKET</key>
	<string>newfirebase-c5b31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770750667516:ios:2fc38944c1a5f644afd579</string>
</dict>
</plist>